{% load static %}
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Finance Tracker {% block title %} {% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url "index" %}">Logo</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                    >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        </ul>

                        <div class="d-flex ">
                            <div class="mx-4">
                                {{request.user.username}}
                            </div>
                            <a href="{% url "logout" %}">Logout</a>
                        </div>
                            
                    </div>
                </div>
            </nav>
            <div class="row">
                {% include "partials/_sidebar.html" %}
                
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    {% block content %}{% endblock content %}
                </main>
            </div>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
