[submodule "FinanceTracker"]
	path = FinanceTracker
	url = git@github.com:kshitizadhikari/FinanceTracker.git
[submodule "PythonJWTPractice"]
	path = PythonJWTPractice
	url = git@github.com:kshitizadhikari/PythonJWTPractice.git
[submodule "CSVBasic"]
	path = CSVBasic
	url = git@github.com:kshitizadhikari/CSVBasic.git
[submodule "RabbitMQBasic"]
	path = RabbitMQBasic
	url = git@github.com:kshitizadhikari/RabbitMQBasic.git
[submodule "Blackjack"]
	path = Blackjack
	url = git@github.com:kshitizadhikari/BlackJack.git
[submodule "QuoteScrapper"]
	path = QuoteScrapper
	url = git@github.com:kshitizadhikari/QuoteScrapper.git
[submodule "GifMaker"]
	path = GifMaker
	url = git@github.com:kshitizadhikari/GifMaker.git
[submodule "PythonDownloadsCleaner"]
	path = PythonDownloadsCleaner
	url = git@github.com:kshitizadhikari/PythonDownloadsCleaner.git
