{% extends "expenses/base_expense.html" %} {% block expense_content %}
<h1>ADD EXPENSE</h1>

<div class="card">
    <div class="card-body">
        <form action="{% url "add-expense" %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="amount" class="form-label">Amount</label>
                <input
                    value="{{values.amount}}"
                    required
                    type="text"
                    class="form-control"
                    name="amount"
                />
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input
                    value="{{values.date}}"
                    required
                    type="date"
                    class="form-control"
                    name="date"
                />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                    class="form-control"
                    row="4"
                    column="5"
                    name="description"
                >
{{values.description}}
                </textarea>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select
                    class="form-control"
                    value="{{values.category}}"
                    name="category"
                >
                    {% for category in categories %}
                    <option name="category" value="{{category.id}}">
                        {{category.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock expense_content %}
