{% extends "expenses/base_expense.html" %} {% block expense_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/chart.css' %}" />
<h1>Expense Summary</h1>

<div class="chart">
    <h4 id="bar-chart-heading" class="bar-chart-heading">Expense Bar Chart</h4>
    <canvas id="barChart"></canvas>
</div>

<div class="chart">
    <h4 id="doughnut-chart-heading" class="doughnut-chart-heading">
        Expense Doughnut Chart
    </h4>
    <canvas id="doughnut" height="100" width="100"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module">
    $(document).ready(function () {
        const url = "/expense-category-data"

        const chartName = $("#bar-chart-heading").text().trim();
        import('{% static "js/barChart.js" %}').then((module) => {
            module.default(chartName, url);
        });

        const doughnut = $("#doughnut-chart-heading").text().trim();
        import('{% static "js/doughnutChart.js" %}').then((module) => {
            module.default(doughnut, url);
        });
    });
</script>
{% endblock expense_content %}
