{% extends "expenses/base_expense.html" %} {% block expense_content %}
<h1>MAIN EXPENSE</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <th scope="row">{{expense.category}}</th>
            <th scope="row">{{expense.description}}</th>
            <th scope="row">{{expense.date}}</th>
            <th scope="row">{{expense.amount}}</th>
            <th scope="row"><a href="{% url "edit-expense" expense.id %}">Edit</a> | <a href="{% url "delete-expense" expense.id %}">Delete</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock expense_content %}
